$background: #ccc;
$inputBg: #f0f0f0;
$outputBg: rgb(194, 194, 194);

$grey: #eee;
$white: #fff;

$title: #fff;

$buttonBg: #09203f;
$buttonText: #8e9da8;
$buttonHover: #fff;

$contBg: #45778b;
// $contBg: linear-gradient(to top, #09203f 0%, #45778b 50%, #8e9da8 100%);
// $contBg: #ccc;
